.board {
    display: grid;
    grid-template-columns: repeat(8, 87.5px);
    margin: 20px auto;
    background-color:#b58863;
    width: 700px;
    height: 700px;
}

.lightsquare{
    background-color: #f0d9b5;
}

.lightsquare, .darksquare {
    background-position: center;
}